[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa = ">=2.8,<3"
paddlepaddle = "==2.2.1"
paddlenlp = "==2.2.3"

[dev-packages]

[requires]
python_version = "3.8.6"
